<!DOCTYPE html>
<html>
<head>
    <title>
        Todo
    </title>
</head>
<body style="background-color: black;">
    <center>
        <h1 style="color:rgb(212, 108, 10);"><u>Todo List</u></h1><hr><br><br>
        <table style="width: 60%;">
            <thead style="color: rgb(224, 218, 32);">
                <th>Task</th>
                <th>Description</th>
                <th>Date</th>
                <th>Actions</th>
            </thead>
            <tbody style="color:white; text-align: center;">
                {% for i in todo%}
                <tr>
                <td>{{i.task}}</td>
                <td>{{i.des}}</td>
                <td>{{i.date}}</td>
                <td><button style="background-color: coral;border:coral;border-radius:20%"><a style="color: white;" href="{% url 'edit' i.id%}">Edit</a></button>  <button style="background-color: coral;border:coral;border-radius:20%"><a style="color: white;" href="{% url 'del' i.id%}">Delete</a></td></button> 
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </center>
    <br><button style="margin-left: 22%; background-color:rgba(253, 123, 2, 0.659);border: chocolate;border-radius: 20%;"><a href="{% url 'add' %}" style="color: white;"><u>Add Task</u></a></button>
</body>
</html>